/*
COLORS
*/
$LightPink: #eb2f64;
$MediumPink: #FF3366;
$DarkPink: #BA265D;

$GreyLight1: #faf9f9;
$GreyLight2: #f4f2f2;
$Greylight3: #f0eeee;
$Greylight4: #ccc;

$Greydark1: #333;
$Greydark2: #777;
$Greydark3: #999;

